<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="productEditForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!productEditForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="url">Image URL</label>
            <input
              type="text"
              id="url"
              formControlName="url"
              class="form-control"
              #url>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              formControlName="description"
              rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12">
            <div   class="row" 
            *ngFor="let category of product.categories; let i = index">
              <input type="checkbox" [checked]="category.$checked" (change)="checkBoxHandler(i)" />
              {{category.$Name}}
            </div>
          </div>
        </div>      
    </form>
  </div>
</div>
