<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewProduct()">New Product</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-product-item *ngFor="let product of productSnapShot; let i = index" [product]="product" [index]="i"></app-product-item>
  </div>
  <div class="col-xs-12">
    <app-pagination [hidden]="!products" [totalItems]="totalRecords" [pageSize]="pageSize" (pageChanged)="pageChanged($event)"></app-pagination>
  </div>
</div>